
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
/* HEADER */
header {
   display: flex;
   height: 64px;
   width: 100%;
   background-color: white;
   justify-content: space-between;
   align-content: center;
}

.header-left {
   display: inline-flex;
   align-items: center;
   font-size: 24px;
   padding-left: 24px;
}

.colmar {
    color: rgb(61, 61, 61);
    font-weight: bold;
}

.academy {
    color: rgb(138, 137, 137)
}
.header-right {
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
}

ul {
    display: flex;
    list-style: none;
    
}

li {
    padding: 8px;
}

a {
    color: inherit;
    text-decoration: none;
}

.mobile {
    display: none;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    background-color: rgb(241, 238, 212);
    display: flex;
    align-items: center;
    border-bottom: white solid 1px;
    margin: 0;
}

.banner img {
    padding: 32px 24px;
    width: 60%;
}

.banner-button {
    color: rgb(61, 61, 61);   
}

.banner-button h1 {
    font-size: 45px;
}
 .banner-button p {
     font-size: 25px;
     font-weight: 525;
 }

 button {
     padding: 12px;
     color: rgb(61, 61, 61);
     background-color: rgb(233, 223, 132);
     border: none;
     font-size: 24px;
     width: 300px;
     cursor: pointer;
 }

 button:hover {
    background-color: rgb(228, 215, 99);
 }

 /* INFORMATION */

 .information {
     display: flex;
     width: 100%;
     margin: 0;
 }

 .information-left {
     padding: 32px 24px 32px 24px;
     color:rgb(61, 61, 61);
     width: 62%;
 }

 .information-left img {
     width: 100%;
     
 }

 .information-left h2 {
    font-size: 40px;
    font-weight: bold;
}

.quote {
    padding-bottom: 24px;
    font-size: 19px;
    color: rgb(112, 111, 111);
}

.information-left p {
    color: rgb(112, 111, 111);
}

.information-right {
    width: 38%;
    padding-top: 16px;
    
    color:rgb(61, 61, 61);
    border-left: white solid 1px;
}

.information-right a {
    color: rgb(179, 103, 32);
}

.info-sections {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: rgb(229, 226, 226) solid 1px;
    border-top: rgb(229, 226, 226) solid 1px;
    border-left:rgb(229, 226, 226) solid 1px;
    margin-top: 16px;
}

.info-sections:hover {
    background-color: rgb(199, 230, 224);
}

.img-container {
    width: 35%;
    margin-right: 24px;
}

.info-sections img {
    max-width: 100%;
    padding: 16px;
}

.info-sections h4 {
    font-size: 24px;
    font-weight: 510;
    margin: 0;
}
 
.info-sections p {
    color: rgb(112, 111, 111);
}


/* START LEARNING */


.learning {
    background-color: rgb(241, 238, 212);
    width: 100%;
    margin: 0;
}

.learning-header h2 {
    font-size: 40px;
    font-weight: bold;
    color:rgb(61, 61, 61);
    text-align: center;
    position: relative;
    top: 44px;
}

.course-container {
    display: inline-flex;
    padding: 32px 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.course-box {
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    width: 350px;
    height: auto;
    background-color: white;
}
.course-box:hover {
    box-shadow: black 1px;
}

.course-box-bottom {
    padding: 16px 16px 24px 16px;
}

#box-header {
    font-size: 24px;
    color:rgb(61, 61, 61);
    font-weight: 510;
}

.course-box p {
    color: rgb(112, 111, 111);
    font-size: 18px;
}

.learning-mobile {
    display: none;
}

/* Thesis Exhbition*/

.thesis {
    border-bottom: rgb(229, 226, 226) solid 1px;
    border-left:white solid 1px;
    border-right: white solid 1px;
}
.thesis-container {
    display: flex;
}

.thesis-header h2 {
    font-size: 40px;
    font-weight: bold;
    color:rgb(61, 61, 61);
    text-align: center;
    
}
    
.thesis-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 24px 32px 24px;
}

.thesis-left h2 {
    font-size: 40px;
    font-weight: bold;
    color:rgb(61, 61, 61);
}

.thesis-left p {
    font-size: 19px;
    color: rgb(112, 111, 111);
}

video {
    max-width: 100%;
}
.thesis-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis-right img {
    max-width: 100%;
    padding: 16px;
}

.thesis-sections {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: rgb(229, 226, 226) solid 1px;
    border-top: rgb(229, 226, 226) solid 1px;
    border-left: rgb(229, 226, 226) solid 1px;
    margin-bottom: 10px;
}

.thesis-sections h2 {
    color:rgb(61, 61, 61);
    font-size: 24px;
    font-weight: 510;
}

.thesis-sections p {
    color: rgb(112, 111, 111);
}

.thesis-sections:hover {
    background-color: rgb(199, 230, 224);
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    color:rgb(138, 137, 137);
}

/* MEDIA QUERY*/

@media only screen and (max-width: 800px) {
    /*HEADER*/
    .mobile {
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    .mobile a {
        margin: auto;
    }

    .header-right, .header-left {
        display: none;
    }

    /*BANNER*/

    .banner {
        display: block;
        padding: none;
        width: 100%;
    }

    .banner img {
        padding: 0;
        width: 100%;
    }

    .banner-button {
        padding: 0 16px 32px 16px; 
    }

    /*INFORMATION*/

    .information-left {
        display: none;
    }

    .information-right {
        width: 100%;
    }

    .info-sections {
        display: block;
        max-width: 100%;
        border: none;
        padding: 16px;
    }
    .img-container {
        width: 100%;
    }

    .desktop img {
        display: none;
    }

    .course-container {
        display: none;
    }

    .learning-mobile {
        display: flex;
        flex-direction: column;
        padding: 32px;
        
    }

    #mobile-button {
        margin: 8px auto;
        padding: 24px 16px;
        background-color: rgb(233, 223, 132);
        width: 90%;
        font-size: 24px;
        color:rgb(61, 61, 61);
        border: none;
        cursor: pointer;
        text-align: left;
    }

    #mobile-button:hover {
        background-color: rgb(228, 215, 99);
    }
    /*THESIS*/

    .thesis-left {
        width: 100%;
        padding: 0;
    }

    .thesis-left h2 {
        display: none;
    }

    .thesis-left p {
        display: none;
    }

    video {
        width: 100%;
    }

    .thesis-right {
        display: none;
    }

    /*FOOTER*/

    .mobile-footer {
        display: none;
    }
}






